@page "/ViewVehiculos"
@page "/ViewVehiculos/vehiculoId={vehiculoId:int}"
@inject NavigationManager navigation
@inject HttpClient httpClient

<PageTitle>Detalles de Veh&iacute;culo</PageTitle>
<div class="container">
	<div class="card shadow-lg">
		<div class="card-header">
			<h3><strong>Veh&iacute;culo</strong></h3>
		</div>
		<div class="card-body">
			@*Datos*@
			<ul>
				<li><strong>VehiculoId: </strong>@vehiculo.VehiculoId</li>
				<li><strong>Fecha: </strong>@vehiculo.Fecha.ToShortDateString()</li>
				<li><strong>Descripción: </strong>@vehiculo.Descripcion</li>
				<li><strong>Costo: </strong>@vehiculo.Costo.ToString("N2")</li>
				<li><strong>Gastos: </strong>@vehiculo.Gastos.ToString("N2")</li>
			</ul>
		</div>

		<div class="card card-header">
			<h3><strong>Detalles</strong></h3>
		</div>

		<div class="card-body">
			@*Tabla Detalles*@
			@if (vehiculo.VehiculosDetalles.Count > 0)
			{
				<table class="table table-bordered miTabla">
					<thead>
						<tr>
							<th>AccesorioId</th>
							<th>Descripci&oacute;n</th>
							<th>Valor</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var detalle in vehiculo.VehiculosDetalles)
						{
							<tr>
								<td>@detalle.AccesorioId</td>
								<td>@ObtenerDescripcion(detalle.AccesorioId)</td>
								<td>@detalle.Valor.ToString("N2")</td>
							</tr>
						}
					</tbody>
				</table>
				<p><strong>Cantidad de Detalles: </strong>@vehiculo.VehiculosDetalles.Count</p>
			}
		</div>

		<div class="card-footer">
			<button type="button" class="btn btn-outline-primary" @onclick="Volver"><i class="bi bi-box-arrow-left" /> Volver</button>
		</div>
	</div>
</div>
@mensaje

@code {
	[Parameter]
	public int vehiculoId { get; set; }
	public Vehiculos vehiculo { get; set; } = new Vehiculos();
	public List<Accesorios> accesorios = new List<Accesorios>();
	public int accesorioId { get; set; }
	public decimal valor { get; set; }
	public string mensaje { get; set; }

	protected override async Task OnInitializedAsync()
	{
		await Task.Delay(500);

		vehiculo = await httpClient.GetFromJsonAsync<Vehiculos>($"api/Vehiculos/{vehiculoId}");

		accesorios = await httpClient.GetFromJsonAsync<List<Accesorios>>("api/Accesorios");
	}

	public string ObtenerDescripcion(int id)
	{
		var descripcion = accesorios.FirstOrDefault(a => a.AccesorioId == id);
		return descripcion.Descripcion;
	}

	public void Volver()
	{
		navigation.NavigateTo("/Vehiculos");
	}
}
